.descricao-produto{
    background-color: orange;
    padding: 15px;
    border-style: dotted;
    border-color: beige;
}


.promocao{
    border: solid 10px blue;
}

.valores{
    font-style: italic;
}